@tailwind base;
@tailwind components;
@tailwind utilities;
 
@font-face {
    font-family: 'Ubuntu-Bold';
    src: url("./assets/fonts/Ubuntu-Bold.ttf")
}

@font-face {
    font-family: 'Ubuntu-Medium';
    src: url("./assets/fonts/Ubuntu-Medium.ttf")
}

@font-face {
    font-family: 'Ubuntu-Regular';
    src: url("./assets/fonts/Ubuntu-Regular.ttf")
}

.e-schedule .e-appointment-details{
    padding: 0 !important; 
}

.template-wrap{ 
    background-color: #F8F3FF;
    border-radius: 4px; 
    padding: 15px;
}