@tailwind base;
@tailwind components;
@tailwind utilities;
 
@font-face {
    font-family: 'Ubuntu-Bold';
    src: url("./assets/fonts/Ubuntu-Bold.ttf")
}

@font-face {
    font-family: 'Ubuntu-Medium';
    src: url("./assets/fonts/Ubuntu-Medium.ttf")
}

@font-face {
    font-family: 'Ubuntu-Regular';
    src: url("./assets/fonts/Ubuntu-Regular.ttf")
}

.e-schedule .e-vertical-view .e-day-wrapper .e-appointment{
    padding: 0 !important; 
    background: #F8F3FF !important; 
    /* height: 10px;  */
    padding-top: 8px;
    border-radius: 8px;
}
 
/* .e-schedule .e-vertical-view .e-work-cells */

/* .template-wrap{ 
    background:#F8F3FF;  
    padding: 4px;
    width: 100%;
    height: 10vh;
    display: relative; 
} */
 

.e-schedule .e-vertical-view .e-content-wrap .e-appointment .e-appointment-details {
    padding: 0;
    height: 100%;
}

.e-schedule .template-wrap {
    height: 100%;
    white-space: normal;  
} 

/* .e-schedule .template-wrap .time {
    height: 50px;
    font-size: 12px;
    padding: 4px 6px 4px;
    overflow: hidden;
} */
.e-past-app {
    background-color: chocolate !important;
}
/* .custom-class.e-schedule .e-vertical-view .e-appointment {
    background: green;
} */

/* csslint ignore:start */
.schedule-cell-dimension.e-schedule .e-vertical-view .e-date-header-wrap table col,
.schedule-cell-dimension.e-schedule .e-vertical-view .e-content-wrap table col {
    width: 200px;
}

.schedule-cell-dimension.e-schedule .e-vertical-view .e-time-cells-wrap table td,
.schedule-cell-dimension.e-schedule .e-vertical-view .e-work-cells {
    height: 100px;
}

.schedule-cell-dimension.e-schedule .e-month-view .e-work-cells,
.schedule-cell-dimension.e-schedule .e-month-view .e-date-header-wrap table col {
    width: 300px;
}

.schedule-cell-dimension.e-schedule .e-month-view .e-work-cells {
    height: 100px;
}

.schedule-cell-template.e-schedule .e-month-view .e-work-cells {
  position: relative;
}

.loader { 
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}


li {
    list-style-type: circle;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

#hoverevent:hover #cube  {
    background-color: #7123E2;
    color: white; 
}

#hoverevent:hover{
    background-color: #7123E2;
    color: white; 
}

#hoverevent:hover #cubediv  {
    background-color: #F4F4F43D;
    color: white; 
}
 
#hoverevent:hover #cubetext  { 
    color: white; 
    fill: white;
}
